/* Necessary Links */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Default css start */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
/*Common Css start  */
.container {
  padding: 50px 200px;
  overflow: hidden;
}
.btn-primary {
  padding: 10px 20px;
  background: #f15b22;
  color: #fff;
  font-weight: 500;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
}
p {
  color: #737272;
  line-height: 25px;
}
.section-title {
  font-size: 30px;
  text-align: center;
}
/* Header Css Start */
.header {
  background: url("assets/images/banner/banner1.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
}
.header-content {
  width: 50%;
}
.header-content h1 {
  font-size: 55px;
}
.header-content p {
  margin: 15px 0;
}
/* F-Y section css start */

.f-y-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.f-y-content .box h2 {
  font-size: 30px;
}
.f-y-content .box p {
  margin: 10px 0px;
}

.f-y-content .box ul li {
  margin-top: 5px;
}
.f-y-content .box ul li img {
  width: 15px;
  margin-right: 5px;
}
/* take-action css start */

.t-a-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.t-a-box {
  padding: 10px;
}
.t-a-box img {
  width: 500px;
}
.t-a-box h2 {
  font-weight: 400;
  font-size: 35px;
}
.t-a-box p {
  margin: 10px 0;
}
/* plan-section  Css start  */

.plan-section {
}
.plan-item-box {
  display: flex;
  justify-content: space-around;
}
.plan-item-box .p-i-box {
  padding: 20px;
  text-align: center;
}

.plan-item-box .p-i-box h3 {
  margin: 10px 0px;
}

.contact-box {
  background-image: url("assets/images/watch.png"),
    url("assets/images/gradient3.png");
  background-blend-mode: soft-light;
  border-radius: 10px;
  margin-top: 50px;
}
.contact-content {
  padding: 50px;
}

.contact-content h2 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 10px;
}

.c-btn {
  background-color: #fff;
  color: #f15b22;
}

/* Footer Css Start */

.footer {
  background: #000;
  display: flex;
  color: #fff;
  justify-content: space-evenly;
}
.footer-left {
  width: 50%;
}
.footer-left h2 {
}
.footer-left p {
  color: #fff;
  margin: 10px 0;
}
.footer-left img {
  margin-right: 10px;
  margin-top: 5px;
}

.footer-right input {
  display: block;
  color: #fff;
  background: #000;
  padding: 12px;
  margin: 15px 0;
  border: 1px solid #fff;
}
